@media screen and (min-width: 428px) {
    .container {
      max-width: 428px;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .customers-item {
      flex-basis: calc((100% - 16px) / 2);
    }
   
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 108px;
      padding-right: 108px;
    }
    .team-list li {
      flex-basis: calc((100% - 24px) / 2);
    }
  
     .team-item:nth-child(n+2) {
      margin-bottom: 0;
    }
    .team-item:nth-child(-n+2) {
      margin-bottom: 64px;
    }
   
    .team-list {
      gap: 0;
    }
    .team-item:nth-child(odd) {
      margin-right: 24px;
    }
  
    .customers-list {
      /* gap: 72px 24px; */
    }
  
    .customers-item {
      max-width: 168px;
      flex-basis: calc((100% - 24px) / 3);
    }
  




    .footer-container {
        display: flex;
        flex-wrap: wrap
        
    }
    .container-logo {
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-right: 24px;
        margin-bottom: 72px;
    }
    .container-soc {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .footer-soc-text {
        display: flex;
        justify-content: left;
    }
    .footer-form {
        display: flex;
        flex-direction: unset;
        align-items: normal;
    }
    .footer-label {
        margin-right: 24px;
        margin-bottom: 0;
    }
}



  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto;
    }
    
    .team-list li {
      flex-basis: calc((100% - 72px) / 4);
    }
    .section.padding {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .team-list {
      display: flex;
      flex-wrap: nowrap;
      /* gap: 24px; */
    }
  
    .team-item:nth-child(-n+4) {
      margin-right: 24px;
      margin-bottom: 0;
    }
  
    .customers-item {
      
      flex-basis: calc((100% - 24px) / 6);
    }
    .container-logo {
      margin-right: 120px;
    }
    .container-soc {
      margin-right: 80px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer > .footer-container {
        max-width: 552px;
        padding-left: 0;
        padding-right: 0;
    }
  }