@media screen and (min-width: 428px) {
    .container {
      max-width: 428px;
    }

    .overlay {
      width: 100%;
      max-width: 428px;
      height: 100%;
      max-height: 432px;
      background-image: var(--bg-gradient-hero), 
      url(../images/dark-bg-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient-hero), 
  url(../images/dark-bg-tab-2x.jpg);
  }
}
  
    .privilege-list .privilege-item {
      margin-right: 0;
    }



    .customers-item {
      flex-basis: calc((100% - 16px) / 2);
    }
   
  }





  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      /* padding-left: 108px;
      padding-right: 108px; */
    }

    .menu-open-btn {
      display: none;
    }

    .header {
      padding-top: 16px;
      padding-bottom: 10.5px;
    }

    .header-navigation,
    .header-address {
      display: flex;
      align-items: center;
}

.header-link {
  font-weight: 500;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-active-line {
  position: relative;
  color: var(--hover-buttonLink-color);
}

.header-active-line::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-buttonLink-color);
  bottom: -25px;
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-buttonLink-color);
}

.header-list {
  margin-left: 76px;
  display: flex;
}

.header-list .header-item:last-child {
  margin-right: 0;
}



.header-list .link {
  display: block;
}

.header-item {
  margin-right: 40px;
}

.header-address {
  margin-left: auto;
}

.address-list {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* .address-list .address-item:not(:last-child) {
  
  margin-right: 40px;
} */

.address-item {
  /* margin-right: 40px; */
}

.address-list .address-item:last-child {
  margin-right: 0;
}

.address-link {
  font-weight: 400;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-buttonLink-color);
}

    .overlay {
      width: 100%;
      max-width: 768px;
      height: 100%;
      max-height: 436px;
      background-image: var(--bg-gradient-hero), 
      url(../images/peopleoffice.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient-hero), 
  url(../images/people-office-2x.jpg);
  }
}
  

    .hero-title {
      margin-left: auto;
      margin-right: auto;
      max-width: 496px;
      margin-top: 0;
      margin-bottom: 48px;
      font-family: inherit;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      color: var(--heroFooter-text-color);
    }

    .privilege-item {
      flex-basis: calc((100% - 24px) / 2);
    }
    .privilege-list{
      gap: 72px 24px;
    }
    .privilege-subtitle {
      display: inline-block;
    }

    .team-list {
      display: flex;
      flex-wrap: wrap;
    }

    .team-item {
      flex-basis: calc((100% - 24px) / 2);
    }
  
     .team-item:nth-child(n+2) {
      margin-bottom: 0;
    }
    .team-item:nth-child(-n+2) {
      margin-bottom: 64px;
    }
   
    .team-list {
      gap: 0;
    }
    .team-item:nth-child(odd) {
      margin-right: 24px;
    }
  
    .customers-list {
      gap: 72px 24px;
    }
  
    .customers-item {
      max-width: 168px;
      flex-basis: calc((100% - 24px) / 3);
    }
  
    .footer-container {
        display: flex;
        flex-wrap: wrap
        
    }
    .container-logo {
      display: flex;
      flex-direction: column;
      align-items: normal;
      margin-right: 24px;
      margin-bottom: 72px;
    }
    .container-soc {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .footer-soc-text {
      display: flex;
      justify-content: left;
    }
    .footer-form {
      display: flex;
      flex-direction: unset;
      align-items: normal;
    }
    .footer-label {
      min-width: 264px;
      margin-right: 24px;
      margin-bottom: 0;
    }

    .modal {
      width: 408px;
      height: 584px;
    }
}



  
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto;
    }

    .header {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .address-list {
      font-style: normal;
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    .hero {
      padding-top: 188px;
      padding-bottom: 188px;
    }
    .overlay {
      width: 100%;
      max-width: 1440px;
      height: 100%;
      max-height: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    .privilege-list {
      display: flex;
      flex-wrap: nowrap;
      gap: 0;
    }

    .privilege-item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .privilege-item:not(:last-child) {
      margin-right: 24px;
    } 

    .privilege.section.padding {
      padding-bottom: 0;
    }

    .privilege-item {
      margin-bottom: 0;
    }

    .privilege-subtitle {
      margin-top: 0;
      margin-bottom: 8px;
      font-family: inherit;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--title-text-color);
    }

    .privilege-item-text {
      font-family: inherit;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-top: 0;
      margin-bottom: 0;
      color: var(--primary-text-color);
    }

    .services {
      display: block;
    }

    .team-list li {
      flex-basis: calc((100% - 72px) / 4);
    }
    .section.padding {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .team-list {
      display: flex;
      flex-wrap: nowrap;
      /* gap: 24px; */
    }
  
    .team-item:nth-child(-n+4) {
      margin-right: 24px;
      margin-bottom: 0;
    }
  
    .customers-item {
      
      flex-basis: calc((100% - 24px) / 6);
    }
    .container-logo {
      margin-right: 120px;
    }
    .container-soc {
      margin-right: 80px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer > .footer-container {
        max-width: 552px;
        padding-left: 0;
        padding-right: 0;
    }
  }